<section class="container">
{% if block.featuresItems|length %}

<ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
  {% for item in block.featuresItems.all() %}
  <li class="nav-item">
    <a class="nav-link {% if loop.first %}active{% endif %}" id="pills-{{ item.featureItemName|kebab }}-tab" data-toggle="pill" href="#pills-{{ item.featureItemName|kebab }}" role="tab" aria-controls="pills-{{ item.featureItemName|kebab }}" aria-selected="true">{{ item.featureItemName }}</a>
  </li>
  {% endfor %}
</ul>

<div class="tab-content" id="pills-tabContent">
  {% for item in block.featuresItems.all() %}
  <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="pills-{{ item.featureItemName|kebab }}" role="tabpanel" aria-labelledby="pills-{{ item.featureItemName|kebab }}-tab">
    <div class="row">
      <div class="col-7">
        {{ item.featureItemDescription }}
      </div>
      <div class="col-5">
        {% set image = item.featureItemImage.one() %}
        {% if image %}
          <img class="featured-image-right" src="{{ image.getUrl('image447X529') }}" alt="{{ item.featureItemName }} image">
        {% endif %}
      </div>
    </div>


  </div>
  {% endfor %}
</div>

{% endif %}

</section>
